extends ../layoutadmin
block content_dashboard
    .row.justify-content-center
        .col-lg-5
            .card(style="margin-top:75px")
                .card-body
                    .form-validation
                        .form.form-valide(action='#', method='post')
                            h3
                                | Change Password
                            .form-group
                                label#success_changepassowrd(for='user',style='font-size:17px;display:none;color: chartreuse') Change Password Success
                            .form-group.row
                                label.col-lg-5.col-form-label(for='val-username')
                                    | Old Password 
                                    span.text-danger *
                                .col-lg-7
                                    input#val_oldpassword.form-control(type='password', name='val-oldPassword', placeholder='Enter Old Password')
                                span.col-lg-5.col-form-label#error_oldpassword(style='color: red;display:none') Password is invalid
                            .form-group.row
                                label.col-lg-5.col-form-label(for='val_newpassword')
                                    | New Password
                                    span.text-danger *
                                .col-lg-7
                                    input#val_newpassword.form-control(type='password', name='val-new_password', placeholder='Enter New Password')
                                span.col-lg-5.col-form-label#error_newpassword(style='color: red;display:none') New password is invalid
                            .form-group.row
                                label.col-lg-5.col-form-label(for='val_confirmpassword')
                                    | Confirm New Password
                                    span.text-danger *
                                .col-lg-7
                                    input#val_confirmpassword.form-control(type='password', name='val-re_new_password', placeholder='Enter New Password')
                                span.col-lg-5.col-form-label#error_confirmpassword(style='color: red;display:none') Confirm password is invalid
                            .form-group(style='margin-bottom:0px')
                                    button#change_password.btn.btn-primary.btn-flat(type='submit') Submit
    script(src='/javascript/admin/change_password.js')
                        