@import "variable.scss";

.badge {
    font-weight: 400;
}

.badge-xs {
    font-size        : 9px;
    -webkit-transform: translate(0, -2px);
    -ms-transform    : translate(0, -2px);
    -o-transform     : translate(0, -2px);
    transform        : translate(0, -2px);
}

.badge-sm {
    -webkit-transform: translate(0, -2px);
    -ms-transform    : translate(0, -2px);
    -o-transform     : translate(0, -2px);
    transform        : translate(0, -2px);
}

.badge-success {
    background-color: $success;
}

.badge-info {
    background-color: $info;
}

.badge-primary {
    background-color: $primary;
}

.badge-warning {
    background-color: $warning;
}

.badge-danger {
    background-color: $danger;
}

.badge-dark {
    background-color: $dark;
}

.badge-light {
    background-color: $light;
}

.label {
    padding      : 3px 10px;
    line-height  : 13px;
    color        : $white;
    font-weight  : 400;
    border-radius: 4px;
    font-size    : 75%;
}

.label-rounded {
    border-radius: 60px;
}

.label-primary {
    background-color: $primary;
}

.label-success {
    background-color: $success;
}

.label-info {
    background-color: $info;
}

.label-warning {
    background-color: $warning;
}

.label-danger {
    background-color: $danger;
}

.label-dark {
    background-color: $dark;
}