@import "variable.scss"; // Variable.scss

.morris-hover {
	position: absolute;
	z-index : 1;
}

.morris-hover.morris-default-style .morris-hover-row-label {
	font-weight: bold;
	margin     : 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
	white-space: nowrap;
	margin     : 0.1em 0;
}

.morris-hover.morris-default-style {
	border-radius: 2px;
	padding      : 10px 12px;
	color        : #666;
	background   : rgba(0, 0, 0, 0.7);
	border       : none;
	color        : #fff!important;
}

.morris-hover-point {
	color: rgba(257, 257, 257, 0.8)!important;
}

#morris-area-chart1,
#morris-area-chart2,
#morris-area-chart3,
#morris-area-chart4,
#morris-area-chart5,
#morris-area-chart6 {
	height: 200px;
}