extends ../../layoutadmin
block content_dashboard
    .row.justify-content-center
        .col-lg-12
            .card
                .card-body
                    .form-validation
                        form.form-valide( method='post')
                            input(type='text', name='id',value=data.id,style='display:none',readonly)
                            .form-group.row
                                label.col-lg-2.col-form-label(for='val-username')
                                    | Full Name
                                    span.text-danger *
                                .col-lg-10
                                    input#val-username.form-control(type='text', name='val_name', placeholder='Enter a First Name', value= data.name,readonly)
                                //- label.col-lg-2.col-form-label(for='val-username')
                                //-     | Last Name
                                //-     span.text-danger *
                                //- .col-lg-5
                                //-     input#val-username.form-control(type='text', name='val-username', placeholder='Enter a Last Name')
                            .form-group    
                                input#tab_name_true(type='radio', name='tab0',value='true', checked='')
                                label.tab(for='tab_name_true') True
                                input#tab_name_false(type='radio',value='false', name='tab0')
                                label.tab(for='tab_name_false') False
                            .form-group.row
                                label.col-lg-2.col-form-label(for='val-phoneus')
                                    | Phone Number 
                                    span.text-danger *
                                .col-lg-10
                                    input#val-phoneus.form-control(type='text', name='val_phoneus', placeholder='+841659685663', value= data.phone,readonly)
                            
                            .form-group    
                                input#tab_phone_true(type='radio', name='tab1',value='true', checked='')
                                label.tab(for='tab_phone_true') True
                                input#tab_phone_false(type='radio',value='false', name='tab1')
                                label.tab(for='tab_phone_false') False
                            .form-group.row
                                label.col-lg-2.col-form-label(for='val-nationality')
                                    | Nationality
                                    span.text-danger *
                                .col-lg-10
                                    select#val-nationality.form-control(name='val_nationality',readonly)
                                        option(value='None') Select National
                                        option(value='afghan',selected =(data.national == 'afghan')) Afghan
                                        option(value='albanian',selected =(data.national == 'albanian')) Albanian
                                        option(value='algerian',selected =(data.national == 'algerian')) Algerian
                                        option(value='american',selected =(data.national == 'american')) American
                                        option(value='andorran',selected =(data.national == 'andorran')) Andorran
                                        option(value='angolan',selected =(data.national == 'angolan')) Angolan
                                        option(value='antiguans',selected =(data.national == 'antiguans')) Antiguans
                                        option(value='argentinean',selected =(data.national == 'argentinean')) Argentinean
                                        option(value='armenian',selected =(data.national == 'armenian')) Armenian
                                        option(value='australian',selected =(data.national == 'australian')) Australian
                                        option(value='austrian',selected =(data.national == 'austrian')) Austrian
                                        option(value='azerbaijani',selected =(data.national == 'azerbaijani')) Azerbaijani
                                        option(value='bahamian',selected =(data.national == 'bahamian')) Bahamian
                                        option(value='bahraini',selected =(data.national == 'bahraini')) Bahraini
                                        option(value='bangladeshi',selected =(data.national == 'bangladeshi')) Bangladeshi
                                        option(value='barbadian',selected =(data.national == 'barbadian')) Barbadian
                                        option(value='barbudans',selected =(data.national == 'barbudans')) Barbudans
                                        option(value='batswana',selected =(data.national == 'batswana')) Batswana
                                        option(value='belarusian',selected =(data.national == 'belarusian')) Belarusian
                                        option(value='belgian',selected =(data.national == 'belgian')) Belgian
                                        option(value='belizean',selected =(data.national == 'belizean')) Belizean
                                        option(value='beninese',selected =(data.national == 'beninese')) Beninese
                                        option(value='bhutanese',selected =(data.national == 'bhutanese')) Bhutanese
                                        option(value='bolivian',selected =(data.national == 'bolivian')) Bolivian
                                        option(value='bosnian',selected =(data.national == 'bosnian')) Bosnian
                                        option(value='brazilian',selected =(data.national == 'brazilian')) Brazilian
                                        option(value='british',selected =(data.national == 'british')) British
                                        option(value='bruneian',selected =(data.national == 'bruneian')) Bruneian
                                        option(value='bulgarian',selected =(data.national == 'bulgarian')) Bulgarian
                                        option(value='burkinabe',selected =(data.national == 'burkinabe')) Burkinabe
                                        option(value='burmese',selected =(data.national == 'burmese')) Burmese
                                        option(value='burundian',selected =(data.national == 'burundian')) Burundian
                                        option(value='cambodian',selected =(data.national == 'cambodian')) Cambodian
                                        option(value='cameroonian',selected =(data.national == 'cameroonian')) Cameroonian
                                        option(value='canadian',selected =(data.national == 'canadian')) Canadian
                                        option(value='cape verdean',selected =(data.national == 'cape verdean')) Cape Verdean
                                        option(value='central african',selected =(data.national == 'central african')) Central African
                                        option(value='chadian',selected =(data.national == 'chadian')) Chadian
                                        option(value='chilean',selected =(data.national == 'chilean')) Chilean
                                        option(value='chinese',selected =(data.national == 'chinese')) Chinese
                                        option(value='colombian',selected =(data.national == 'colombian')) Colombian
                                        option(value='comoran',selected =(data.national == 'comoran')) Comoran
                                        option(value='congolese',selected =(data.national == 'congolese')) Congolese
                                        option(value='costa rican',selected =(data.national == 'costa rican')) Costa Rican
                                        option(value='croatian',selected =(data.national == 'croatian')) Croatian
                                        option(value='cuban',selected =(data.national == 'cuban')) Cuban
                                        option(value='cypriot',selected =(data.national == 'cypriot')) Cypriot
                                        option(value='czech',selected =(data.national == 'czech')) Czech
                                        option(value='danish',selected =(data.national == 'danish')) Danish
                                        option(value='djibouti',selected =(data.national == 'djibouti')) Djibouti
                                        option(value='dominican',selected =(data.national == 'dominican')) Dominican
                                        option(value='dutch',selected =(data.national == 'dutch')) Dutch
                                        option(value='east timorese',selected =(data.national == 'east timorese')) East Timorese
                                        option(value='ecuadorean',selected =(data.national == 'ecuadorean')) Ecuadorean
                                        option(value='egyptian',selected =(data.national == 'egyptian')) Egyptian
                                        option(value='emirian',selected =(data.national == 'emirian')) Emirian
                                        option(value='equatorial guinean',selected =(data.national == 'equatorial guinean')) Equatorial Guinean
                                        option(value='eritrean',selected =(data.national == 'eritrean')) Eritrean
                                        option(value='estonian',selected =(data.national == 'estonian')) Estonian
                                        option(value='ethiopian',selected =(data.national == 'ethiopian')) Ethiopian
                                        option(value='fijian',selected =(data.national == 'fijian')) Fijian
                                        option(value='filipino',selected =(data.national == 'filipino')) Filipino
                                        option(value='finnish',selected =(data.national == 'finnish')) Finnish
                                        option(value='french',selected =(data.national == 'french')) French
                                        option(value='gabonese',selected =(data.national == 'gabonese')) Gabonese
                                        option(value='gambian',selected =(data.national == 'gambian')) Gambian
                                        option(value='georgian',selected =(data.national == 'georgian')) Georgian
                                        option(value='german',selected =(data.national == 'german')) German
                                        option(value='ghanaian',selected =(data.national == 'ghanaian')) Ghanaian
                                        option(value='greek',selected =(data.national == 'greek')) Greek
                                        option(value='grenadian',selected =(data.national == 'grenadian')) Grenadian
                                        option(value='guatemalan',selected =(data.national == 'guatemalan')) Guatemalan
                                        option(value='guinea-bissauan',selected =(data.national == 'guinea-bissauan')) Guinea-Bissauan
                                        option(value='guinean',selected =(data.national == 'guinean')) Guinean
                                        option(value='guyanese',selected =(data.national == 'guyanese')) Guyanese
                                        option(value='haitian',selected =(data.national == 'haitian')) Haitian
                                        option(value='herzegovinian',selected =(data.national == 'herzegovinian')) Herzegovinian
                                        option(value='honduran',selected =(data.national == 'honduran')) Honduran
                                        option(value='hungarian',selected =(data.national == 'hungarian')) Hungarian
                                        option(value='icelander',selected =(data.national == 'icelander')) Icelander
                                        option(value='indian',selected =(data.national == 'indian')) Indian
                                        option(value='indonesian',selected =(data.national == 'indonesian')) Indonesian
                                        option(value='iranian',selected =(data.national == 'iranian')) Iranian
                                        option(value='iraqi',selected =(data.national == 'iraqi')) Iraqi
                                        option(value='irish',selected =(data.national == 'irish')) Irish
                                        option(value='israeli',selected =(data.national == 'israeli')) Israeli
                                        option(value='italian',selected =(data.national == 'italian')) Italian
                                        option(value='ivorian',selected =(data.national == 'ivorian')) Ivorian
                                        option(value='jamaican',selected =(data.national == 'jamaican')) Jamaican
                                        option(value='japanese',selected =(data.national == 'japanese')) Japanese
                                        option(value='jordanian',selected =(data.national == 'jordanian')) Jordanian
                                        option(value='kazakhstani',selected =(data.national == 'kazakhstani')) Kazakhstani
                                        option(value='kenyan',selected =(data.national == 'kenyan')) Kenyan
                                        option(value='kittian and nevisian',selected =(data.national == 'kittian and nevisian')) Kittian and Nevisian
                                        option(value='kuwaiti',selected =(data.national == 'kuwaiti')) Kuwaiti
                                        option(value='kyrgyz',selected =(data.national == 'kyrgyz')) Kyrgyz
                                        option(value='laotian',selected =(data.national == 'laotian')) Laotian
                                        option(value='latvian',selected =(data.national == 'latvian')) Latvian
                                        option(value='lebanese',selected =(data.national == 'lebanese')) Lebanese
                                        option(value='liberian',selected =(data.national == 'liberian')) Liberian
                                        option(value='libyan',selected =(data.national == 'libyan')) Libyan
                                        option(value='liechtensteiner',selected =(data.national == 'liechtensteiner')) Liechtensteiner
                                        option(value='lithuanian',selected =(data.national == 'lithuanian')) Lithuanian
                                        option(value='luxembourger',selected =(data.national == 'luxembourger')) Luxembourger
                                        option(value='macedonian',selected =(data.national == 'macedonian')) Macedonian
                                        option(value='malagasy',selected =(data.national == 'malagasy')) Malagasy
                                        option(value='malawian',selected =(data.national == 'malawian')) Malawian
                                        option(value='malaysian',selected =(data.national == 'malaysian')) Malaysian
                                        option(value='maldivan',selected =(data.national == 'maldivan')) Maldivan
                                        option(value='malian',selected =(data.national == 'malian')) Malian
                                        option(value='maltese',selected =(data.national == 'maltese')) Maltese
                                        option(value='marshallese',selected =(data.national == 'marshallese')) Marshallese
                                        option(value='mauritanian',selected =(data.national == 'mauritanian')) Mauritanian
                                        option(value='mauritian',selected =(data.national == 'mauritian')) Mauritian
                                        option(value='mexican',selected =(data.national == 'mexican')) Mexican
                                        option(value='micronesian',selected =(data.national == 'micronesian')) Micronesian
                                        option(value='moldovan',selected =(data.national == 'moldovan')) Moldovan
                                        option(value='monacan',selected =(data.national == 'monacan')) Monacan
                                        option(value='mongolian',selected =(data.national == 'mongolian')) Mongolian
                                        option(value='moroccan',selected =(data.national == 'moroccan')) Moroccan
                                        option(value='mosotho',selected =(data.national == 'mosotho')) Mosotho
                                        option(value='motswana',selected =(data.national == 'motswana')) Motswana
                                        option(value='mozambican',selected =(data.national == 'mozambican')) Mozambican
                                        option(value='namibian',selected =(data.national == 'namibian')) Namibian
                                        option(value='nauruan',selected =(data.national == 'nauruan')) Nauruan
                                        option(value='nepalese',selected =(data.national == 'nepalese')) Nepalese
                                        option(value='new zealander',selected =(data.national == 'new zealander')) New Zealander
                                        option(value='ni-vanuatu',selected =(data.national == 'ni-vanuatu')) Ni-Vanuatu
                                        option(value='nicaraguan',selected =(data.national == 'nicaraguan')) Nicaraguan
                                        option(value='nigerien',selected =(data.national == 'nigerien')) Nigerien
                                        option(value='north korean',selected =(data.national == 'north korean')) North Korean
                                        option(value='northern irish',selected =(data.national == 'northern irish')) Northern Irish
                                        option(value='norwegian',selected =(data.national == 'norwegian')) Norwegian
                                        option(value='omani',selected =(data.national == 'omani')) Omani
                                        option(value='pakistani',selected =(data.national == 'pakistani')) Pakistani
                                        option(value='palauan',selected =(data.national == 'palauan')) Palauan
                                        option(value='panamanian',selected =(data.national == 'panamanian')) Panamanian
                                        option(value='papua new guinean',selected =(data.national == 'papua new guinean')) Papua New Guinean
                                        option(value='paraguayan',selected =(data.national == 'paraguayan')) Paraguayan
                                        option(value='peruvian',selected =(data.national == 'peruvian')) Peruvian
                                        option(value='polish',selected =(data.national == 'polish')) Polish
                                        option(value='portuguese',selected =(data.national == 'portuguese')) Portuguese
                                        option(value='qatari',selected =(data.national == 'qatari')) Qatari
                                        option(value='romanian',selected =(data.national == 'romanian')) Romanian
                                        option(value='russian',selected =(data.national == 'russian')) Russian
                                        option(value='rwandan',selected =(data.national == 'rwandan')) Rwandan
                                        option(value='saint lucian',selected =(data.national == 'saint lucian')) Saint Lucian
                                        option(value='salvadoran',selected =(data.national == 'salvadoran')) Salvadoran
                                        option(value='samoan',selected =(data.national == 'samoan')) Samoan
                                        option(value='san marinese',selected =(data.national == 'san marinese')) San Marinese
                                        option(value='sao tomean',selected =(data.national == 'sao tomean')) Sao Tomean
                                        option(value='saudi',selected =(data.national == 'saudi')) Saudi
                                        option(value='scottish',selected =(data.national == 'scottish')) Scottish
                                        option(value='senegalese',selected =(data.national == 'senegalese')) Senegalese
                                        option(value='serbian',selected =(data.national == 'serbian')) Serbian
                                        option(value='seychellois',selected =(data.national == 'seychellois')) Seychellois
                                        option(value='sierra leonean',selected =(data.national == 'sierra leonean')) Sierra Leonean
                                        option(value='singaporean',selected =(data.national == 'singaporean')) Singaporean
                                        option(value='slovakian',selected =(data.national == 'slovakian')) Slovakian
                    
                                        option(value='solomon islander',selected =(data.national == 'solomon islander')) Solomon Islander
                                        option(value='somali',selected =(data.national == 'somali')) Somali
                                        option(value='south african',selected =(data.national == 'south african')) South African
                                        option(value='south korean',selected =(data.national == 'south korean')) South Korean
                                        option(value='spanish',selected =(data.national == 'spanish')) Spanish
                                        option(value='sri lankan',selected =(data.national == 'sri lankan')) Sri Lankan
                                        option(value='sudanese',selected =(data.national == 'sudanese')) Sudanese
                                        option(value='surinamer',selected =(data.national == 'surinamer')) Surinamer
                                        option(value='swazi',selected =(data.national == 'swazi')) Swazi
                                        option(value='swedish',selected =(data.national == 'swedish')) Swedish
                                        option(value='swiss',selected =(data.national == 'swiss')) Swiss
                                        option(value='syrian',selected =(data.national == 'syrian')) Syrian
                                        option(value='taiwanese',selected =(data.national == 'taiwanese')) Taiwanese
                                        option(value='tajik',selected =(data.national == 'tajik')) Tajik
                                        option(value='tanzanian',selected =(data.national == 'tanzanian')) Tanzanian
                                        option(value='thai',selected =(data.national == 'thai')) Thai
                                        option(value='togolese',selected =(data.national == 'togolese')) Togolese
                                        option(value='tongan',selected =(data.national == 'tongan')) Tongan
                                        option(value='trinidadian or tobagonian',selected =(data.national == 'trinidadian or tobagonian')) Trinidadian or Tobagonian
                                        option(value='tunisian',selected =(data.national == 'tunisian')) Tunisian
                                        option(value='turkish',selected =(data.national == 'turkish')) Turkish
                                        option(value='tuvaluan',selected =(data.national == 'tuvaluan')) Tuvaluan
                                        option(value='ugandan',selected =(data.national == 'ugandan')) Ugandan
                                        option(value='ukrainian',selected =(data.national == 'ukrainian')) Ukrainian
                                        option(value='uruguayan',selected =(data.national == 'uruguayan')) Uruguayan
                                        option(value='uzbekistani',selected =(data.national == 'uzbekistani')) Uzbekistani
                                        option(value='venezuelan',selected =(data.national == 'venezuelan')) Venezuelan
                                        option(value='vietnamese',selected =(data.national == 'vietnamese')) Vietnamese
                                        option(value='welsh',selected =(data.national == 'welsh')) Welsh
                                        option(value='yemenite',selected =(data.national == 'yemenite')) Yemenite
                                        option(value='zambian',selected =(data.national == 'zambian')) Zambian
                                        option(value='zimbabwean',selected =(data.national == 'afghzimbabweanan')) Zimbabwean
                            .form-group    
                                input#tab_national_true(type='radio',value='true', name='tab2', checked='')
                                label.tab2(for='tab_national_true') True
                                input#tab_national_false(type='radio',value='false', name='tab2')
                                label.tab2(for='tab_national_false') False

                            .form-group.row
                                label.col-lg-2.col-form-label(for='val-suggestions2')
                                    | Identification Type 
                                    span.text-danger *
                                .col-lg-10
                                    select#val-identification.form-control(readonly)
                                        option(value='identify_cart') Please select
                                        option(value='identify_cart',selected =(data.type == '1')) Identity Card
                                        option(value='passport',selected =(data.type == '2')) Passport
                                        option(value='driving',selected =(data.type == '3')) Driving License
                            .form-group    
                                input#tab_type_true(type='radio', name='tab7',value='true', checked='')
                                label.tab(for='tab_type_true') True
                                input#tab_type_false(type='radio',value='false', name='tab3')
                                label.tab(for='tab_type_true') False
                            .form-group.row
                                if(data.type == '1')
                                    label.col-lg-2.col-form-label(for='val-phoneus')
                                        | Identification ID 
                                        span.text-danger *
                                if(data.type == '2')
                                    label.col-lg-2.col-form-label(for='val-phoneus')
                                        | Passport ID 
                                        span.text-danger *
                                if(data.type == '3')
                                    label.col-lg-2.col-form-label(for='val_currency')
                                        | Driving License Number
                                        span.text-danger *
                                
                                .col-lg-10
                                    input#val-phoneus.form-control(type='text', name='val_identification_id',readonly, placeholder='C4547012',value=data.passport_number_id)
                            .form-group    
                                input#tab_identifiId_true(type='radio', name='tab3',value='true', checked='')
                                label.tab(for='tab_identifiId_true') True
                                input#tab_identifiId_false(type='radio',value='false', name='tab3')
                                label.tab(for='tab_identifiId_false') False
                                
                            .form-group.row
                                if(data.type == '1')
                                    label.col-lg-2.col-form-label(for='val_currency')
                                        | Identity Card Front Side
                                        span.text-danger *
                                if(data.type == '2')
                                    label.col-lg-2.col-form-label(for='val_currency')
                                        | Passport Personal Page
                                        span.text-danger *
                                if(data.type == '3')
                                    label.col-lg-2.col-form-label(for='val_currency')
                                        | Driving License Front Side
                                        span.text-danger *
                            .form-group    
                                input#tab_front_true(type='radio', name='tab4',value='true', checked='')
                                label.tab(for='tab_front_true') True
                                input#tab_front_false(type='radio',value='false', name='tab4')
                                label.tab(for='tab_front_false') False
                            .form-group.row
                                .col-5.dropzone.dz-clickable.dz-started.dropzone_notext(action='#',style='width: 32vw;height: 40vh;')
                                    div(ref='uploadForm')
                                        img(style='max-width: 360px;max-height: 228px;vertical-align: middle;margin: 4vh 11vh',src='/uploads/'+data.url_img_back)

                                                
                                .col-2(style='padding: 100px 0px;text-align: center;font-size: 16px;height: 40vh;')
                                    .card
                                        .card-body
                                            label
                                                | Example
                                .col-5.dropzone.dropresponsive(style=';pointer-events: none;cursor: default;')
                                    .uploadForm
                                        center
                                            if(data.type == '1')
                                                img#front_image.divcenter.imagekyc(src='/images/id_front.png')
                                            if(data.type == '2')
                                                img#front_image.divcenter.imagekyc(src='/images/pp_frist_page.png')
                                            if(data.type == '3')
                                                img#front_image.divcenter.imagekyc(src='/images/driver1.png')
                            .form-group.row
                                if(data.type == '1')
                                    label.col-lg-2.col-form-label(for='val_currency')
                                        | Identity Card Back Sider
                                        span.text-danger *
                                if(data.type == '2')
                                    label.col-lg-2.col-form-label(for='val_currency')
                                        | Passport Cover
                                        span.text-danger *
                                if(data.type == '3')
                                    label.col-lg-2.col-form-label(for='val_currency')
                                        | Driving License Back Side
                                        span.text-danger *
                                
                            .form-group    
                                input#tab_back_true(type='radio', name='tab5',value='true', checked='')
                                label.tab(for='tab_back_true') True
                                input#tab_back_false(type='radio',value='false', name='tab5')
                                label.tab(for='tab_back_false') False
                            .form-group.row
                                .col-5.dropzone.dz-clickable.dz-started.dropzone_notext(action='#',style='width: 32vw;height: 40vh;')
                                    div(ref='uploadForm')
                                        img(style='max-width: 360px;max-height: 228px;vertical-align: middle;margin: 4vh 11vh',src='/uploads/'+data.url_img_behind)

                                .col-2(style='padding: 100px 0px;text-align: center;font-size: 16px;height: 40vh;')
                                    .card
                                        .card-body
                                            label
                                                | Example
                                .col-5.dropzone.dropresponsive(style=';pointer-events: none;cursor: default;')
                                    .uploadForm
                                        center
                                            if(data.type == '1')
                                                img#back_image.divcenter.imagekyc(src='/images/id_back.png', style='vertical-align: middle;margin: 5vh 11vh; max-height:80%')
                                            if(data.type == '2')
                                                img#back_image.divcenter.imagekyc(src='/images/pp_cover.png', style='vertical-align: middle;margin: 5vh 11vh; max-height:80%')
                                            if(data.type == '3')
                                                img#back_image.divcenter.imagekyc(src='/images/driver2.png', style='vertical-align: middle;margin: 5vh 11vh; max-height:80%')
                                
                            .form-group.row
                                if(data.type == '1')
                                    label.col-lg-2.col-form-label(for='val_currency')
                                        | Selfie With Photo ID And Note
                                        span.text-danger *
                                if(data.type == '2')
                                    label.col-lg-2.col-form-label(for='val_currency')
                                        | Selfie With Passport And Note
                                        
                                        span.text-danger *
                                if(data.type == '3')
                                    label.col-lg-2.col-form-label(for='val_currency')
                                        | Selfie With Driving ID And Note
                                        span.text-danger *
                                
                            .form-group    
                                input#tab_all_true(type='radio', name='tab6' ,value='true', checked='')
                                label.tab(for='tab_all_true') True
                                input#tab_all_false(type='radio',value='false', name='tab6')
                                label.tab(for='tab_all_false') False
                            .form-group.row
                                .col-5.dropzone.dz-clickable.dz-started.dropzone_notext(action='#',style='width: 32vw;height: 40vh;')
                                    div(ref='uploadForm')
                                        img(style='max-width: 360px;max-height: 228px;vertical-align: middle;margin: 4vh 11vh',src='/uploads/'+data.url_img_all)

                                .col-2(style='padding: 100px 0px;text-align: center;font-size: 16px;height: 40vh;')
                                    .card
                                        .card-body
                                            label
                                                | Example
                                .col-5.dropzone.dropresponsive(style=';pointer-events: none;cursor: default;')
                                    .uploadForm
                                        center
                                            if(data.type == '1')
                                                img#back_image.divcenter.imagekyc(src='/images/id_back.png', style='vertical-align: middle;margin: 5vh 11vh; max-height:80%')
                                            if(data.type == '2')
                                                img#back_image.divcenter.imagekyc(src='/images/pp_cover.png', style='vertical-align: middle;margin: 5vh 11vh; max-height:80%')
                                            if(data.type == '3')
                                                img#back_image.divcenter.imagekyc(src='/images/driver2.png', style='vertical-align: middle;margin: 5vh 11vh; max-height:80%')
                                
                            .form-group.row
                                .col-6
                                    if(before_status == 1)
                                        button.btn.btn-primary(type='submit',style='margin-left:35vw',formaction="/admin/verfiykyc") Verify User KYC
                                    else
                                        button.btn.btn-primary(type='submit',style='margin-left:35vw',formaction="/admin/verfiykyc") Verify User KYC again
                                        
   
    link(href='/assets/plugins/dropzone-master/dist/dropzone.css', rel='stylesheet', type='text/css')
    script.
        function getURLVar(key) {
            var value = [];

            var query = String(document.location).split('?');

            if (query[1]) {
                var part = query[1].split('&');

                for (i = 0; i < part.length; i++) {
                    var data = part[i].split('=');

                    if (data[0] && data[1]) {
                        value[data[0]] = data[1];
                    }
                }

                if (value[key]) {
                    return value[key];
                } else {
                    return '';
                }
            }
        }
        window.onbeforeunload = function(e){
            var data = {
                id: getURLVar("id"),
                before_status: before_status
            }
            $.ajax({
                url: '/admin/checkstatuschangekyc',
                type: 'post',
                data: data,
                dataType: 'json',
                success: function(json) {
                    
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $("#loading").css('display','none');
                    $("#error-signin-admin").css('display','block');
                    $('#form').css('display','block');
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                
                }
            });
        }
