#header.banner.banner-curb.banner-particle.d-flex.align-items-center
    .container
        .banner-content
            .row.align-items-center.mobile-center
                .col-lg-6.col-md-12.order-lg-first
                    .header-txt
                        h1.animated(data-animate='fadeInUp', data-delay='1.55',style="font-size:2em") Blockchain powered machine-learning chatbot&nbsp;technology
                        p.lead.color-secondary.animated(data-animate='fadeInUp', data-delay='1.65') Blockchain technology allows verifying the reliability of the chatbot &amp; increasing the level of trust
                        ul.btns.animated(data-animate='fadeInUp', data-delay='1.75')
                            li
                                a#signup.btn(href='#test-modal-siginup') Sign up to Join
                            li
                                a.btn.btn-alt(href='#tokenSale') TOKEN DISTRIBUTION
                        ul.social
                            li.animated(data-animate='fadeInUp', data-delay='1.85')
                                a(href='#')
                                    em.fa.fa-facebook
                            li.animated(data-animate='fadeInUp', data-delay='1.9')
                                a(href='#')
                                    em.fa.fa-twitter
                            li.animated(data-animate='fadeInUp', data-delay='1.95')
                                a(href='#')
                                    em.fa.fa-youtube-play
                            li.animated(data-animate='fadeInUp', data-delay='2')
                                a(href='#')
                                    em.fa.fa-github
                            li.animated(data-animate='fadeInUp', data-delay='2.05')
                                a(href='#')
                                    em.fa.fa-bitcoin
                            li.animated(data-animate='fadeInUp', data-delay='2.15')
                                a(href='#')
                                    em.fa.fa-medium
                // .col
                .col-lg-6.col-md-12.order-first
                    .header-image.animated(data-animate='fadeInRight', data-delay='1.25')
                        img(src='images/header-image-dark.png', alt='header')
                        img.header-image-icon.left-icon(src='/images/3-256.png', alt='header-icon')
                        img.header-image-icon.right-icon(src='/images/header-icon-c.png', alt='header-icon')
                // .col
            // .row
        // .banner-content
    // .container
// End Banner/Slider