.row.page-titles
    .col-md-2.align-self-center
        h3#component.text-primary #{name}
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Unibot
            li.breadcrumb-item.active
                a(href=link) #{name}
    .col-md-10.align-self-center
        .crypto-ticker
            ul#webticker-dark-icons
                
