extends ../layout
block content
    #intro.section.section-pad.section-bg-blend.nopb
        .container
            .row.align-items-center
                .col-md-5.offset-md-1
                    .res-m-btm.animated(data-animate='fadeInUp', data-delay='.1')
                        img(src='/images/graph-dark-a.png', alt='graph')
                // .col
                .col-md-6.order-md-first.order-last
                    .text-block
                        h2.animated(data-animate='fadeInUp', data-delay='0')
                            |  The next generation of advanced trustful solution
                        p.lead.animated(data-animate='fadeInUp', data-delay='.1')
                            |  Using the distributed ledger technology to verify reliability is radically different from feedback evaluation systems, since it show how many real transactions have been successfully performed &amp; confirmed by chatbot&#39;s real users - participants of the registry in chatbot industry
                        a#list_video.play-btn.video-play.animated(onclick='listvideo();',data-animate='fadeInUp', data-delay='.2')
                            em.play
                                span
                            span Watch Video
                            span What and How it work
                        

                        
                // .col
            // .row
        // .conatiner
    // Start Section
    // Start Section
    .section.section-pad.no-pb.section-bg-alt
        .container
            .row.align-items-center
                .col-md-5
                    .res-m-btm.animated(data-animate='fadeInUp', data-delay='.1')
                        img(src='images/graph-dark-b.png', alt='graph')
                // .col
                .col-md-6.offset-md-1
                    .text-block
                        h4.animated(data-animate='fadeInUp', data-delay='0') What is Uni?
                        p.lead.animated(data-animate='fadeInUp', data-delay='.1')
                            | Uni is&nbsp;that open source&nbsp;decentralized platform that runs smart contracts on Ethereum blockchain &amp;&nbsp;crypto currency of Unibot.&nbsp;
                        p.animated(data-animate='fadeInUp', data-delay='.2')
                            | We believe that a broad group of participants can come together to create an open&nbsp;Ecosystem of tools for digital communication and commerce that prioritizes consumer experience.
                        p.animated(data-animate='fadeInUp', data-delay='.3')
                            | At the end, Our aims to our Chatbot Ecosystem into a unified blockchain ecosystem, which will make business truly efficient, transparent, and reliable.
                // .col
            // .row
        // .container
    // Start Section
    // Start Section
    #apps.section.section-pad.section-bg-btoa
        .container
            .row.text-center
                .col-md-8.offset-md-2.col-lg-6.offset-lg-3
                    .section-head
                        .heading-animation
                            span.line-1
                            span.line-2
                            span.line-3
                            span.line-4
                            span.line-5
                            span.line-6
                            span.line-7
                            span.line-8
                        h2.section-title.animated(data-animate='fadeInUp', data-delay='0')
                            | Building Trust Chatbot 
                            span Unibot
                        p.animated(data-animate='fadeInUp', data-delay='.1')
                            | On Unibot&rsquo;you can build your own personal bot, to be your virtual assistant, to automate your social media or email, to be you, to be your friend. Our platform is free and open source, including our AI engine, our scripting languages Self and AIML, and our web, Android, and iOS.
            .row.align-items-center
                .col-md-6
                    .res-m-btm.animated(data-animate='fadeInUp', data-delay='.1')
                        img(src='images/graph-dark-c.png', alt='graph')
                // .col
                .col-md-5.offset-md-1
                    .text-block
                        p.animated(data-animate='fadeInUp', data-delay='0')
                            | Our full solution can help you build and control communicate and interact with customers in real time via trustful chatbots, providing also the opportunity to make secure payment using Uni cryoto currency.
                        ul.animated(data-animate='fadeInUp', data-delay='.1')
                            li 24/24h Business Process Automation A.I Chatbot
                            li Enterrise Grade Features Bot-App
                            li Omnichannel Deployany Device, Anytime
                            li Blockchain Verify, Confirm Trustful Chatbot
                            li Secure Payment Transation With Uni Crypto-currency

                        ul.btns
                            li.animated(data-animate='fadeInUp', data-delay='0')
                                a.btn.btn-sm(href='#') GET THE APP NOW
                            li.animated(data-animate='fadeInUp', data-delay='.2')
                                a(href='#')
                                    em.fa.fa-apple
                                a(href='#')
                                    em.fa.fa-android
                                a(href='#')
                                    em.fa.fa-windows
                // .col
            // .row
        // .container
    // Start Section
    // Start Section
    #tokenSale.section.section-pad.section-bg-alt
        .container
            .row.text-center
                .col-md-8.offset-md-2.col-lg-6.offset-lg-3
                    .section-head
                        h2.section-title.animated(data-animate='fadeInUp', data-delay='0')
                            | TOKEN SALE
                            span TOKEN
                        p.animated(data-animate='fadeInUp', data-delay='.1')
                            | ICO Crypto token will be released on the basis of Ethereum. To buy token by deposit your ETH with KYC.
            .row.align-items-center
                .col-lg-6
                    .row.event-info
                        .col-sm-6
                            .event-single-info.animated(data-animate='fadeInUp', data-delay='0')
                                h6 Start
                                p Aug 8, 2018 (9:00AM GMT)
                        // .col
                        .col-sm-6
                            .event-single-info.animated(data-animate='fadeInUp', data-delay='.1')
                                h6 Number of tokens for sale
                                p 2,800,000,000 ICC (35%)
                        // .col
                        .col-sm-6
                            .event-single-info.animated(data-animate='fadeInUp', data-delay='.2')
                                h6 End
                                p Oct 10, 2018 (9:00AM GMT)
                        // .col
                        .col-sm-6
                            .event-single-info.animated(data-animate='fadeInUp', data-delay='.3')
                                h6 Tokens exchange rate
                                p 1 ETH = 650 ICC, 1 BTC = 1940 ICC
                        // .col
                        .col-sm-6
                            .event-single-info.animated(data-animate='fadeInUp', data-delay='.4')
                                h6 Acceptable currencies
                                p ETH, BTC, LTC
                        // .col
                        .col-sm-6
                            .event-single-info.animated(data-animate='fadeInUp', data-delay='.5')
                                h6 Minimal transaction amount
                                p 1 ETH/ 1 BTC/ 1 LTC
                        // .col
                    // .row
                // .col
                .col-lg-5.offset-lg-1
                    .countdown-box.text-center.animated(data-animate='fadeInUp', data-delay='.3')
                        .token-countdown.d-flex.align-content-stretch(data-date='2018/06/15')
                        a.btn.btn-alt.btn-sm(href='#') Join &amp;  BUY TOKEN NOW
                        ul.icon-list
                            li
                                em.fa.fa-bitcoin
                            li
                                em.fa.fa-won
                            li
                                em.fa.fa-cc-visa
                            li
                                em.fa.fa-cc-mastercard
                // .col
            // .row
            .gaps.size-3x
            .gaps.size-3x.d-none.d-md-block
            // .gaps
            .row.text-center
                .col-md-6
                    .single-chart.res-m-btm
                        h3.sub-heading
                            | Distribution 
                            br.hidden-xs
                            |  of tokens
                        .animated(data-animate='fadeInUp', data-delay='0')
                            img(src='images/chart-dark-a.png', alt='chart')
                // .col
                .col-md-6
                    .single-chart
                        h3.sub-heading
                            | Use 
                            br.hidden-xs
                            |  of proceeds
                        .animated(data-animate='fadeInUp', data-delay='.1')
                            img(src='images/chart-dark-b.png', alt='chart')
                // .col
            // .row
        // .container
    // Start Section
    // Start Section
    #roadmap.section.section-pad.section-bg.section-connect
        .container
            .row.text-center
                .col
                    .section-head
                        h2.section-title.animated(data-animate='fadeInUp', data-delay='0')
                            | Our Roadmap
                            span RoadMap
            .row.roadmap-list.align-items-end.animated(data-animate='fadeInUp', data-delay='0')
                .col-lg
                    .single-roadmap.roadmap-sm.roadmap-done
                        h6 March 2018
                        p Start of the ICO Crypto Platform Development.
                // .col
                .col-lg.width-0
                    .single-roadmap.roadmap-down.roadmap-done
                        h6 June 2018
                        p Over 100 merchants on site
                // .col
                .col-lg
                    .single-roadmap.roadmap-lg
                        h6 June 2018
                        p Launched of mobile Apps
                // .col
                .col-lg.width-0
                    .single-roadmap.roadmap-down
                        h6 August 2018
                        p ICO preparation &amp;  Press Tour
                // .col
                .col-lg
                    .single-roadmap.roadmap-sm
                        h6 October 2018
                        p Start Token Sale Round (1)
                // .col
                .col-lg.width-0
                    .single-roadmap.roadmap-down
                        h6 December 2018
                        p Partnership for the future EcoSystem
                // .col
                .col-lg
                    .single-roadmap.roadmap-lg
                        h6 January 2019
                        p Our team set-up and commercial preparation
                // .col
                .col-lg.width-0
                    .single-roadmap.roadmap-down
                        h6 May 2019
                        p Priority opening for Token holder
                // .col
                .col-lg
                    .single-roadmap.roadmap-sm
                        h6 June 2019
                        p Start Token Sale Round (2)
                // .col
                .col-lg.width-0
                    .single-roadmap.roadmap-down
                        h6 Octorber 2019
                        p Blockchain usage announcement for global Network
                // .col
                .col-lg
                    .single-roadmap.roadmap-lg
                        h6 December 2019
                        p Operational Launch United States to general
                // .col
            // .row
        // .container
    // Start Section
    // Start Section
    #team.section.section-pad.no-pb.section-bg-alt.section-fix
        .container
            .row.text-center
                .col-md-8.offset-md-2.col-lg-6.offset-lg-3
                    .section-head
                        h2.section-title.animated(data-animate='fadeInUp', data-delay='0')
                            | Powered by a Team
                            span Team
                        p.animated(data-animate='fadeInUp', data-delay='0.1')
                            | The ICO Crypto Team combines a passion for esports, industry experise &amp;  proven record in finance, development, marketing &amp;   licensing.
            .row.text-center
                .col-md-6.col-lg-3
                    .team-circle.animated(data-animate='fadeInUp', data-delay='.2')
                        .team-photo
                            img(src='images/team-a-sq.jpg', alt='')
                            a.expand-trigger.content-popup(href='#team-profile-1')
                        .team-info
                            h5.team-name Waylon Dalton
                            span.team-title CEO &amp;  Lead Blockchain 
                            ul.team-social
                                li
                                    a(href='')
                                        em.fa.fa-facebook
                                li
                                    a(href='')
                                        em.fa.fa-linkedin
                                li
                                    a(href='')
                                        em.fa.fa-twitter
                        // Start .team-profile
                        #team-profile-1.team-profile.mfp-hide
                            button.mfp-close(title='Close', type='button') ×
                            .container-fluid
                                .row.no-mg
                                    .col-md-6
                                        .team-profile-photo
                                            img(src='images/team-a-lg.jpg', alt='')
                                    // .col
                                    .col-md-6
                                        .team-profile-info
                                            h3.name Waylon Dalton
                                            p.sub-title CEO &amp;  Lead Blockchain 
                                            ul.tpi-social
                                                li
                                                    a(href='#')
                                                        em.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        em.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        em.fa.fa-google-plus
                                                li
                                                    a(href='#')
                                                        em.fa.fa-instagram
                                            p
                                                | He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem.
                                            p
                                                | Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.
                                            .skill-bars
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title HTML5
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 85%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:85%')
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title CSS3
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 90%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:90%')
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title Java
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 75%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:75%')
                                    // .col
                                // .row
                            // .container
                        // .team-profile
                // .col
                .col-md-6.col-lg-3
                    .team-circle.animated(data-animate='fadeInUp', data-delay='.3')
                        .team-photo
                            img(src='images/team-b-sq.jpg', alt='team')
                            a.expand-trigger.content-popup(href='#team-profile-2')
                        .team-info
                            h5.team-name Stefan Harary
                            span.team-title CTO &amp;  Senior Developer
                            ul.team-social
                                li
                                    a(href='')
                                        em.fa.fa-facebook
                                li
                                    a(href='')
                                        em.fa.fa-linkedin
                                li
                                    a(href='')
                                        em.fa.fa-twitter
                        // Start .team-profile
                        #team-profile-2.team-profile.mfp-hide
                            button.mfp-close(title='Close', type='button') ×
                            .container-fluid
                                .row.no-mg
                                    .col-md-6
                                        .team-profile-photo
                                            img(src='images/team-b-lg.jpg', alt='team')
                                    // .col
                                    .col-md-6
                                        .team-profile-info
                                            h3.name Stefan Harary
                                            p.sub-title CTO &amp;  Senior Developer
                                            ul.tpi-social
                                                li
                                                    a(href='#')
                                                        em.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        em.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        em.fa.fa-google-plus
                                                li
                                                    a(href='#')
                                                        em.fa.fa-instagram
                                            p
                                                | He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem.
                                            p
                                                | Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.
                                            .skill-bars
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title HTML5
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 85%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:85%')
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title CSS3
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 90%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:90%')
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title Java
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 75%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:75%')
                                    // .col
                                // .row
                            // .container
                        // .team-profile
                // .col
                .col-md-6.col-lg-3
                    .team-circle.animated(data-animate='fadeInUp', data-delay='.4')
                        .team-photo
                            img(src='images/team-c-sq.jpg', alt='team')
                            a.expand-trigger.content-popup(href='#team-profile-3')
                        .team-info
                            h5.team-name Moises Teare
                            span.team-title Blochain App Developer
                            ul.team-social
                                li
                                    a(href='')
                                        em.fa.fa-facebook
                                li
                                    a(href='')
                                        em.fa.fa-linkedin
                                li
                                    a(href='')
                                        em.fa.fa-twitter
                        // Start .team-profile
                        #team-profile-3.team-profile.mfp-hide
                            button.mfp-close(title='Close', type='button') ×
                            .container-fluid
                                .row.no-mg
                                    .col-md-6
                                        .team-profile-photo
                                            img(src='images/team-c-lg.jpg', alt='team')
                                    // .col
                                    .col-md-6
                                        .team-profile-info
                                            h3.name Moises Teare
                                            p.sub-title Blochain App Developer
                                            ul.tpi-social
                                                li
                                                    a(href='#')
                                                        em.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        em.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        em.fa.fa-google-plus
                                                li
                                                    a(href='#')
                                                        em.fa.fa-instagram
                                            p
                                                | He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem.
                                            p
                                                | Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.
                                            .skill-bars
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title HTML5
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 85%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:85%')
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title CSS3
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 90%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:90%')
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title Java
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 75%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:75%')
                                    // .col
                                // .row
                            // .container
                        // .team-profile
                // .col
                .col-md-6.col-lg-3
                    .team-circle.animated(data-animate='fadeInUp', data-delay='.5')
                        .team-photo
                            img(src='images/team-d-sq.jpg', alt='team')
                            a.expand-trigger.content-popup(href='#team-profile-4')
                        .team-info
                            h5.team-name Gabriel Bernal
                            span.team-title Community Management
                            ul.team-social
                                li
                                    a(href='')
                                        em.fa.fa-facebook
                                li
                                    a(href='')
                                        em.fa.fa-linkedin
                                li
                                    a(href='')
                                        em.fa.fa-twitter
                        // Start .team-profile
                        #team-profile-4.team-profile.mfp-hide
                            button.mfp-close(title='Close', type='button') ×
                            .container-fluid
                                .row.no-mg
                                    .col-md-6
                                        .team-profile-photo
                                            img(src='images/team-d-lg.jpg', alt='team')
                                    // .col
                                    .col-md-6
                                        .team-profile-info
                                            h3.name Gabriel Bernal
                                            p.sub-title Community Management
                                            ul.tpi-social
                                                li
                                                    a(href='#')
                                                        em.fa.fa-facebook
                                                li
                                                    a(href='#')
                                                        em.fa.fa-twitter
                                                li
                                                    a(href='#')
                                                        em.fa.fa-google-plus
                                                li
                                                    a(href='#')
                                                        em.fa.fa-instagram
                                            p
                                                | He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem.
                                            p
                                                | Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.
                                            .skill-bars
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title HTML5
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 85%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:85%')
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title CSS3
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 90%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:90%')
                                                .single-skill-bar
                                                    .row.no-mg
                                                        .col-8.no-pd
                                                            span.skill-title Java
                                                        .col-4.text-right.no-pd
                                                            span.skill-percent 75%
                                                    .skill-bar
                                                        .skill-bar-percent.gradiant-background(style='width:75%')
                                    // .col
                                // .row
                            // .container
                        // .team-profile
                // .col
            // .row
            .row
                .col-md-12
                    .gaps.size-2x
                    h3.sub-heading.ucap Advisors
                    .gaps.size-2x
            .row
                .col-md-10.offset-md-1
                    #advisor_team.row.text-center
                        .col-lg-4.col-md-6
                            .team-circle.animated(data-animate='fadeInUp', data-delay='.1')
                                .team-photo
                                    img(src='images/team-e-sq.jpg', alt='team')
                                    a.expand-trigger.content-popup(href='#team-profile-5')
                                .team-info
                                    h5.team-name Dylan Finch
                                    span.team-title Board Advisor
                                // Start .team-profile
                                #team-profile-5.team-profile.mfp-hide
                                    button.mfp-close(title='Close', type='button') ×
                                    .container-fluid
                                        .row.no-mg
                                            .col-md-6
                                                .team-profile-photo
                                                    img(src='images/team-e-lg.jpg', alt='team')
                                            // .col
                                            .col-md-6
                                                .team-profile-info
                                                    h3.name Dylan Finch
                                                    p.sub-title Board Advisor
                                                    ul.tpi-social
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-facebook
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-twitter
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-google-plus
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-instagram
                                                    p
                                                        | He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem.
                                                    p
                                                        | Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.
                                                    .skill-bars
                                                        .single-skill-bar
                                                            .row.no-mg
                                                                .col-8.no-pd
                                                                    span.skill-title HTML5
                                                                .col-4.text-right.no-pd
                                                                    span.skill-percent 85%
                                                            .skill-bar
                                                                .skill-bar-percent.gradiant-background(style='width:85%')
                                                        .single-skill-bar
                                                            .row.no-mg
                                                                .col-8.no-pd
                                                                    span.skill-title CSS3
                                                                .col-4.text-right.no-pd
                                                                    span.skill-percent 90%
                                                            .skill-bar
                                                                .skill-bar-percent.gradiant-background(style='width:90%')
                                                        .single-skill-bar
                                                            .row.no-mg
                                                                .col-8.no-pd
                                                                    span.skill-title Java
                                                                .col-4.text-right.no-pd
                                                                    span.skill-percent 75%
                                                            .skill-bar
                                                                .skill-bar-percent.gradiant-background(style='width:75%')
                                            // .col
                                        // .row
                                    // .container
                                // .team-profile
                        // .col
                        .col-lg-4.col-md-6
                            .team-circle.animated(data-animate='fadeInUp', data-delay='.2')
                                .team-photo
                                    img(src='images/team-f-sq.jpg', alt='team')
                                    a.expand-trigger.content-popup(href='#team-profile-6')
                                .team-info
                                    h5.team-name Julian Paten
                                    span.team-title Board Advisor
                                // Start .team-profile
                                #team-profile-6.team-profile.mfp-hide
                                    button.mfp-close(title='Close', type='button') ×
                                    .container-fluid
                                        .row.no-mg
                                            .col-md-6
                                                .team-profile-photo
                                                    img(src='images/team-f-lg.jpg', alt='team')
                                            // .col
                                            .col-md-6
                                                .team-profile-info
                                                    h3.name Julian Paten
                                                    p.sub-title Board Advisor
                                                    ul.tpi-social
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-facebook
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-twitter
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-google-plus
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-instagram
                                                    p
                                                        | He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem.
                                                    p
                                                        | Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.
                                                    .skill-bars
                                                        .single-skill-bar
                                                            .row.no-mg
                                                                .col-8.no-pd
                                                                    span.skill-title HTML5
                                                                .col-4.text-right.no-pd
                                                                    span.skill-percent 85%
                                                            .skill-bar
                                                                .skill-bar-percent.gradiant-background(style='width:85%')
                                                        .single-skill-bar
                                                            .row.no-mg
                                                                .col-8.no-pd
                                                                    span.skill-title CSS3
                                                                .col-4.text-right.no-pd
                                                                    span.skill-percent 90%
                                                            .skill-bar
                                                                .skill-bar-percent.gradiant-background(style='width:90%')
                                                        .single-skill-bar
                                                            .row.no-mg
                                                                .col-8.no-pd
                                                                    span.skill-title Java
                                                                .col-4.text-right.no-pd
                                                                    span.skill-percent 75%
                                                            .skill-bar
                                                                .skill-bar-percent.gradiant-background(style='width:75%')
                                            // .col
                                        // .row
                                    // .container
                                // .team-profile
                        // .col
                        .col-lg-4.col-md-6.offset-md-3.offset-lg-0.animated(data-animate='fadeInUp', data-delay='.3')
                            .team-circle
                                .team-photo
                                    img(src='images/team-g-sq.jpg', alt='team')
                                    a.expand-trigger.content-popup(href='#team-profile-7')
                                .team-info
                                    h5.team-name Jaxon Kilburn
                                    span.team-title Board Advisor
                                // Start .team-profile
                                #team-profile-7.team-profile.mfp-hide
                                    button.mfp-close(title='Close', type='button') ×
                                    .container-fluid
                                        .row.no-mg
                                            .col-md-6
                                                .team-profile-photo
                                                    img(src='images/team-g-lg.jpg', alt='team')
                                            // .col
                                            .col-md-6
                                                .team-profile-info
                                                    h3.name Jaxon Kilburn
                                                    p.sub-title Board Advisor
                                                    ul.tpi-social
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-facebook
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-twitter
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-google-plus
                                                        li
                                                            a(href='#')
                                                                em.fa.fa-instagram
                                                    p
                                                        | He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem.
                                                    p
                                                        | Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.
                                                    .skill-bars
                                                        .single-skill-bar
                                                            .row.no-mg
                                                                .col-8.no-pd
                                                                    span.skill-title HTML5
                                                                .col-4.text-right.no-pd
                                                                    span.skill-percent 85%
                                                            .skill-bar
                                                                .skill-bar-percent.gradiant-background(style='width:85%')
                                                        .single-skill-bar
                                                            .row.no-mg
                                                                .col-8.no-pd
                                                                    span.skill-title CSS3
                                                                .col-4.text-right.no-pd
                                                                    span.skill-percent 90%
                                                            .skill-bar
                                                                .skill-bar-percent.gradiant-background(style='width:90%')
                                                        .single-skill-bar
                                                            .row.no-mg
                                                                .col-8.no-pd
                                                                    span.skill-title Java
                                                                .col-4.text-right.no-pd
                                                                    span.skill-percent 75%
                                                            .skill-bar
                                                                .skill-bar-percent.gradiant-background(style='width:75%')
                                            // .col
                                        // .row
                                    // .container
                                // .team-profile
                        // .col
                    // .row
                // .col
            // .row
    // Start Section
    // Start Section
    #partners.section.section-pad.section-bg-alt
        .container
            .row.text-center
                .col
                    .section-head
                        h2.section-title.animated(data-animate='fadeInUp', data-delay='0')
                            | ICO CRYPTO PARTNERS
                            span Partners
            .partner-list
                .row.text-center
                    .col-sm
                        .single-partner.animated(data-animate='fadeInUp', data-delay='0')
                            img(src='images/partner-md-a.png', alt='partner')
                    .col-sm
                        .single-partner.animated(data-animate='fadeInUp', data-delay='.1')
                            img(src='images/partner-md-b.png', alt='partner')
                    .col-sm
                        .single-partner.animated(data-animate='fadeInUp', data-delay='.2')
                            img(src='images/partner-md-c.png', alt='partner')
                .row.text-center
                    .col-md-8.offset-md-2
                        .row
                            .col-sm
                                .single-partner.animated(data-animate='fadeInUp', data-delay='.3')
                                    img(src='images/partner-md-d.png', alt='partner')
                            .col-sm
                                .single-partner.animated(data-animate='fadeInUp', data-delay='.4')
                                    img(src='images/partner-md-e.png', alt='partner')
    // Start Section
    // Start Section
    #media-partner.section.section-pad.section-bg.section-connect
        .container
            .row.text-center
                .col-md-6.offset-md-3
                    .section-head
                        h6.section-title-sm.animated(data-animate='fadeInUp', data-delay='0') As seen in
            .partner-list
                .row.text-center
                    .col-sm.col-6
                        .single-partner.animated(data-animate='fadeInUp', data-delay='.1')
                            img(src='images/partner-xs-a.png', alt='partner')
                    .col-sm.col-6
                        .single-partner.animated(data-animate='fadeInUp', data-delay='.2')
                            img(src='images/partner-xs-b.png', alt='partner')
                    .col-sm.col-6
                        .single-partner.animated(data-animate='fadeInUp', data-delay='.3')
                            img(src='images/partner-xs-c.png', alt='partner')
                    .col-sm.col-6
                        .single-partner.animated(data-animate='fadeInUp', data-delay='.4')
                            img(src='images/partner-xs-d.png', alt='partner')
                    .col-sm.col-6
                        .single-partner.animated(data-animate='fadeInUp', data-delay='.5')
                            img(src='images/partner-xs-e.png', alt='partner')
                    .col-sm.col-6
                        .single-partner.animated(data-animate='fadeInUp', data-delay='.6')
                            img(src='images/partner-xs-f.png', alt='partner')
                .row.text-center
                    .col-md-10.offset-md-1
                        .row
                            .col-sm.col-6
                                .single-partner.animated(data-animate='fadeInUp', data-delay='.7')
                                    img(src='images/partner-sm-a.png', alt='partner')
                            .col-sm.col-6
                                .single-partner.animated(data-animate='fadeInUp', data-delay='.8')
                                    img(src='images/partner-sm-b.png', alt='partner')
                            .col-sm.col-6
                                .single-partner.animated(data-animate='fadeInUp', data-delay='.9')
                                    img(src='images/partner-sm-c.png', alt='partner')
                            .col-sm.col-6
                                .single-partner.animated(data-animate='fadeInUp', data-delay='1')
                                    img(src='images/partner-sm-d.png', alt='partner')
    // End Section
    // Start Section
    #blogs.section.section-pad.section-bg-dark.blog-section
        .container
            .row.text-center
                .col
                    .section-head
                        h2.section-title.animated(data-animate='fadeInUp', data-delay='0')
                            | ICO Crypto NEWS
                            span News
            // .row
            .blog-list
                #top_news.row
                    .col-lg-4.offset-lg-0.col-sm-8.offset-sm-2
                        .blog-item.animated(data-animate='fadeInUp', data-delay='0')
                            .blog-photo
                                a(href='blog-single-dark.html')
                                    img(src='images/blog-thumb-a.jpg', alt='blog-photo')
                            .blog-texts
                                ul.blog-meta
                                    li
                                        a(href='#') 12 Mar, 2018
                                    li
                                        a(href='#') Blockchain
                                h5.blog-title
                                    a(href='blog-single-dark.html') The Intersection Where Blockchain Meets Energy
                                p
                                    | Blockchain Meets Energy Surplus of electrical energy is sometimes ut perspiciatis unde omnis iste natus...
                    // .col
                    .col-lg-4.offset-lg-0.col-sm-8.offset-sm-2
                        .blog-item.animated(data-animate='fadeInUp', data-delay='.1')
                            .blog-photo
                                a(href='blog-single-dark.html')
                                    img(src='images/blog-thumb-b.jpg', alt='blog-photo')
                            .blog-texts
                                ul.blog-meta
                                    li
                                        a(href='#') 26 Feb, 2018
                                    li
                                        a(href='#') Cryptocurrency
                                h5.blog-title
                                    a(href='blog-single-dark.html') Pros &amp;  Cons of Premined Cryptocurrencies
                                p
                                    | Premine involves mining large quantities of the coin before the sed do eiusmod tempor incididunt ut ...
                    // .col
                    .col-lg-4.offset-lg-0.col-sm-8.offset-sm-2
                        .blog-item.animated(data-animate='fadeInUp', data-delay='.2')
                            .blog-photo
                                a(href='blog-single-dark.html')
                                    img(src='images/blog-thumb-c.jpg', alt='blog-photo')
                            .blog-texts
                                ul.blog-meta
                                    li
                                        a(href='#') 08 Feb, 2018
                                    li
                                        a(href='#') Technology
                                h5.blog-title
                                    a(href='blog-single-dark.html') How &amp;  Where To Market Your ICO Startup
                                p
                                    | So you've got a business idea, and a nifty way to incorporate sunt in culpa qui officia deserunt...
                    // .col
                // .row
            // .blog-list
            .row.text-center
                .col-md-12
                    a.btn.btn-more(href='blog-archive-dark.html')
                        | Read All News 
                        em.ti.ti-angle-right
        // .container
    // Start Section
    // Start Section
    #faq.section.section-pad.no-pb.section-bg-alt
        .container
            .row.text-center
                .col-md-8.offset-md-2.col-lg-6.offset-lg-3
                    .section-head
                        h2.section-title.animated(data-animate='fadeInUp', data-delay='0')
                            | Frequently asked questions
                            span FAQS
                        p.animated(data-animate='fadeInUp', data-delay='.1')
                            | Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and few others. If you have any other questions, please get in touch using the contact form below.
            .row
                .col-md-8.offset-md-2
                    .tab-custom
                        // Nav tabs
                        ul.nav.nav-tabs.text-center.animated(data-animate='fadeInUp', data-delay='0')
                            li.nav-item
                                a.nav-link.active(data-toggle='tab', href='#tab-1') General
                            li.nav-item
                                a.nav-link(data-toggle='tab', href='#tab-2') Pre-ICO &amp;  ICO
                            li.nav-item
                                a.nav-link(data-toggle='tab', href='#tab-3') Tokens
                            li.nav-item
                                a.nav-link(data-toggle='tab', href='#tab-4') CLIENT
                            li.nav-item
                                a.nav-link(data-toggle='tab', href='#tab-5') Legal
                        // Tab panes
                        .tab-content.animated(data-animate='fadeInUp', data-delay='.1')
                            #tab-1.tab-pane.fade.show.active
                                #accordion-1.accordion
                                    .card
                                        .card-header
                                            h5
                                                a(data-toggle='collapse', data-target='#collapse-1-1')
                                                    | What is ICO Crypto?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-1-1.collapse.show(data-parent='#accordion-1')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-1-2')
                                                    | What cryptocurrencies can I use to purchase?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-1-2.collapse(data-parent='#accordion-1')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-1-3')
                                                    | How can I participate in the ICO Token sale?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-1-3.collapse(data-parent='#accordion-1')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-1-4')
                                                    | How do I benefit from the ICO Token?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-1-4.collapse(data-parent='#accordion-1')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                            // End tab-pane
                            #tab-2.tab-pane.fade
                                #accordion-2.accordion
                                    .card
                                        .card-header
                                            h5
                                                a(data-toggle='collapse', data-target='#collapse-2-1')
                                                    | Which of us ever undertakes laborious?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-2-1.collapse.show(data-parent='#accordion-2')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-2-2')
                                                    | Who do not know how to pursue rationally?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-2-2.collapse(data-parent='#accordion-2')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-2-4')
                                                    | Their separate existence is a myth?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-2-4.collapse(data-parent='#accordion-2')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-2-3')
                                                    | Pityful a rethoric question ran over her cheek?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-2-3.collapse(data-parent='#accordion-2')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                            // End tab-pane
                            #tab-3.tab-pane.fade
                                #accordion-3.accordion
                                    .card
                                        .card-header
                                            h5
                                                a(data-toggle='collapse', data-target='#collapse-3-1')
                                                    | When she reached the first hills?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-3-1.collapse.show(data-parent='#accordion-3')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-3-2')
                                                    | Big Oxmox advised her not to do?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-3-2.collapse(data-parent='#accordion-3')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-3-3')
                                                    | Which roasted parts of sentences fly into your mouth?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-3-3.collapse(data-parent='#accordion-3')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-3-4')
                                                    | Vokalia and Consonantia, there live?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-3-4.collapse(data-parent='#accordion-3')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                            // End tab-pane
                            #tab-4.tab-pane.fade
                                #accordion-4.accordion
                                    .card
                                        .card-header
                                            h5
                                                a(data-toggle='collapse', data-target='#collapse-4-1')
                                                    | Who formed us in his own image?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-4-1.collapse.show(data-parent='#accordion-4')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-4-2')
                                                    | While the lovely valley teems with vapour?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-4-2.collapse(data-parent='#accordion-4')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-4-3')
                                                    | Which was created for the bliss of souls like mine?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-4-3.collapse(data-parent='#accordion-4')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-4-4')
                                                    | Wonderful serenity has taken of my entire soul?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-4-4.collapse(data-parent='#accordion-4')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                            // End tab-pane
                            #tab-5.tab-pane.fade
                                #accordion-5.accordion
                                    .card
                                        .card-header
                                            h5
                                                a(data-toggle='collapse', data-target='#collapse-5-1')
                                                    | Illustrated magazine and housed in a nice?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-5-1.collapse.show(data-parent='#accordion-5')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-5-2')
                                                    | Samsa was a travelling salesman and above it there?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-5-2.collapse(data-parent='#accordion-5')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-5-3')
                                                    | Slightly domed and divided by arches?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-5-3.collapse(data-parent='#accordion-5')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                    .card
                                        .card-header
                                            h5
                                                a.collapsed(data-toggle='collapse', data-target='#collapse-5-4')
                                                    | One morning, when Gregor Samsa?
                                                    span.plus-minus
                                                        span.ti.ti-angle-up
                                        #collapse-5-4.collapse(data-parent='#accordion-5')
                                            .card-body
                                                p
                                                    | ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
                                // End accordion
                            // End tab-pane
                        // End tab-content
                    // End tab-custom
                // End col
            // End row
        // End container
    // End Section
    // Start Section
    #contact.section.section-pad.section-bg-alt
        .container
            .row.text-center
                .col
                    .section-head
                        h2.section-title.animated(data-animate='fadeInUp', data-delay='0')
                            | Contact ICO CRYPTO
                            span Contact
                        p.animated(data-animate='fadeInUp', data-delay='.1') Any question? Reach out to us and we’ll get back to you shortly.
            .row
                .col-lg-8.offset-lg-2
                    ul.contact-info
                        li.animated(data-animate='fadeInUp', data-delay='0')
                            em.fa.fa-phone
                            span +44 0123 4567
                        li.animated(data-animate='fadeInUp', data-delay='.1')
                            em.fa.fa-envelope
                            span info@yourcompany.com
                        li.animated(data-animate='fadeInUp', data-delay='.2')
                            em.fa.fa-paper-plane
                            span Join us on Telegram
            .row
                .col-lg-8.offset-lg-2
                    form#contact-form.form-message.text-center(action='form/contact.php', method='post')
                        .form-results
                        .input-field.animated(data-animate='fadeInUp', data-delay='.3')
                            input.input-line.required(name='contact-name', type='text')
                            label.input-title Your Name
                        .input-field.animated(data-animate='fadeInUp', data-delay='.4')
                            input.input-line.required.email(name='contact-email', type='email')
                            label.input-title Your Email
                        .input-field.animated(data-animate='fadeInUp', data-delay='.5')
                            textarea.txtarea.input-line.required(name='contact-message')
                            label.input-title Your Message
                        input.d-none(type='text', name='form-anti-honeypot', value='')
                        .input-field.animated(data-animate='fadeInUp', data-delay='.6')
                            button.btn(type='submit') Submit
        
        script.
            // Get the modal
            var modal = document.getElementById('login');
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) { 
            if (event.target == modal) {
            modal.style.display = "none";
            }
            }
    // End Section

    //- script(src='javascript/landing.js')