extends ../layout_news
block content
    #header.page-banner.d-flex.align-items-center
        .container
            .row
                .col-12
                    .page-head
                        h2.page-heading ICO Crypto NEWS
                .page-head-image
                    img(src='/images/page-head-image-a.png', alt='page-head')
    #news.section.section-pad-md.section-bg-alt.blog-section
        .container
            .row
                .col-lg-8
                    .blog-content#content_news
                        .blog-photo
                            img(src='/images/blog-large-a.jpg', alt='blog-large')
                        ul.blog-meta
                            li
                                span Posted
                                a(href='#') 26 Feb, 2018
                            li
                                span By
                                a(href='#') Admin
                            li
                                span In
                                a(href='#') Cryptocurrency
                        h3.blog-title
                            a(href='blog-single-dark.html') The Intersection Where Blockchain Meets Energy
                        p
                            | Blockchain Meets Energy Surplus of electrical energy is sometimes ut perspiciatis unde omnis iste naat vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        p
                            | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        p
                            | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        p
                            | Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        ul.blog-tags
                            li
                                a(href='#') bitcoin
                            li
                                a(href='#') tokens
                
                .col-lg-4
                    .sidebar-section
                        .sidebar-widget.search
                            form.search-form(action='#')
                                input(type='text', placeholder='Search Keyword')
                                button
                                    em.ti.ti-search
                        
                        .sidebar-widget.tags
                            h5.sidebar-widget-title Tags 
                            ul#tag_key
                        
        
                        
                        .sidebar-widget.cta-widget.text-center
                            h5.cta-head How can we help you?
                            p Contact our support team if you need help or have any questions? 
                            a.btn.btn-plane.btn-alt(href='#') Contact US
    
    script(src='/javascript/dashboard/news.js')
