extends ../../layout_dashboard
block content_dashboard
    .page-titles
        .col-lg-12
            h2(style='padding: 20px 0')
                center List Mission
        // mission start
        .col-lg-12#list-airdrop 
    script(src='/javascript/dashboard/airdrop_user.js')  
