extends ../../layout_dashboard
block content_dashboard
    link(href='/main/scss/mycss/notify.css', rel='stylesheet')
    center
        //- img.loading(src='/images/loading.gif')
    #notify.row.page-titles
